{% extends 'header.html' %}

{% block head %}


<title>Index</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12"  style="margin-bottom:20px;">
        <div class="row">
            <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                About the project.
            </div>
            <div class="card-body">
        
                <h5 class="card-title">Adult Census Income Prediction</h5>
                <p class="card-text">The Goal is to predict whether a person has an income of more than 50K a year or not. 
                    This is basically a binary classification problem where a person is classified into the
                    >50K group or <=50K group..</p>
                <a class="btn btn-success" target="_blank" href="https://github.com/RushiChalake03/Machine_Learning_Project">Project Source Code</a>
            </div>
        </div>
        </div>
        

        </div>
        </div>
<div class="col-md-4 col-lg-4 col-sm-12">
<div class="card">
    <div class="card-header">
       View Logs
    </div>
    <div class="card-body">

        <h5 class="card-title">Log Files</h5>
        <p class="card-text">All model training log file can be downloaded.</p>
        <a class="btn btn-primary" href="/logs">Check Logs</a>
    </div>
</div>
</div>


<div class="col-md-4 col-lg-4 col-sm-12" style="margin-bottom:20px;">
    <div class="card">
        <div class="card-header">
           View Artifacts
        </div>
        <div class="card-body">
    
            <h5 class="card-title">Artifact Files</h5>
            <p class="card-text">All model artifacts file can be downloaded.</p>
            <a class="btn btn-primary" href="/artifact">Check Artifacts</a>
        </div>
    </div>
    </div>

    <div class="col-md-4 col-lg-4 col-sm-12"  style="margin-bottom:20px;">
        <div class="card">
            <div class="card-header">
               View Trained Models
            </div>
            <div class="card-body">
        
                <h5 class="card-title">Trained Models</h5>
                <p class="card-text">All model file can be downloaded.</p>
                <a class="btn btn-primary" href="/saved_models">Check Models</a>
            </div>
        </div>
        </div>

        
    <div class="col-md-4 col-lg-4 col-sm-12"  style="margin-bottom:20px;">
        <div class="card">
            <div class="card-header">
              Estimate Adult Census Income
            </div>
            <div class="card-body">
        
                <h5 class="card-title">Access Income Estimator</h5>
                <p class="card-text">Form will be displayed. Submit the form to get estimated income.</p>
                <a class="btn btn-primary" href="/predict">Get Estimated Income</a>
            </div>
        </div>
        </div>
 
        <div class="col-md-4 col-lg-4 col-sm-12"  style="margin-bottom:20px;">
            <div class="card">
                <div class="card-header">
                  Train Income Estimator Model.
                </div>
                <div class="card-body">
            
                    <h5 class="card-title">Initiate Model Training.</h5>
                    <p class="card-text">Model training will be done. Files such as log, artifact and models can be viewed and downloaded using appropriate link.</p>
                    <a class="btn btn-danger" href="/train">Initiate Training</a>
                </div>
            </div>
            </div>
        




            
</div>

{% endblock %}